<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QueryDict</title>
</head>
<body>
	<form action="" method='post'>
		<table>
			<tbody>
				<tr>
					<td>Name:</td>
					<td><input type="text" name="title"></td>
				</tr>
				<tr>
					<td>Content:</td>
					<td>
						<input type="text" name="content"></textarea>
					</td>	
				</tr>

				<tr>
					<td>Label:</td>
					<td>
						<label>
							Python
							<input type="checkbox" name="tags" value="python"></input>
						</label>
						<label>
							Django
							<input type="checkbox" name="tags" value="django"></input>
						</label>
						
					</td>	
				</tr>
				<tr>
					<p></p>
					<td><input type="submit" name="submit"></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>