<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ZWT</title>
	<style>
		.nav{
			overflow: hidden;
		}
		.nav li{
			float:left;
			list-style: none;
			margin: 0 20px;
		}
	</style>	
</head>
<body>

	<ul class="nav">
		<li>First</li>
		<!-- <li><a href = "/reading">Reading</a></li> -->
		<li><a href = "{% url 'reading' %}">Reading</a></li>
		<li><a href = "{% url 'news' %}">News</a></li>
		<li><a href = "{% url 'boardGame' %}">Board games</a></li>
		<li><a href = "{% url 'bookDetail' book_id='1' %}">Best Seller Detail</a></li>
		<li><a href = "{% url 'bookCategory' book_id='1' category_id='2' %}">Category</a></li>
		<li><a href = "{% url 'login' %}?next=/">Login</a></li>
	</ul>

</body>
</html>